*{

    
}
body{
    display: flex;
    flex-direction: column;
    border: 10px solid #0A162C;
    margin-top: 70px;
    margin-left: 150px;
    padding-left: 40px;;
    margin-right: 150px;
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    
}
#head{
    text-align: center;
    color:#4A495A;
    background-color: #FAEFED;;
    
}
#head h1{
    font-style: italic;
    font-weight: bolder;
    font-size: 55px;
    color: #0A162C;
    background-color:#FAEFED;;
}
.hero{
    text-align: center;
    border-radius:5px;
    border:1px solid none;
    margin:20px;
    padding: 10px;
    height: 200px;
    font-size: 30px;
    font-style: oblique;
    color: #282D40;
    background-color: #FAEFED;
    
}

.hero h3{

    font-style:oblique;
    font-size: 40px;
}

article{margin:20px;
    padding-left: 20px;
    border: 2px solid yellowgreen;
    font-style: italic;
    color: #282D40;
    font-size: 20px; 
    background-color: #FAEFED;

    


}
.motive{
    border: 20px solid pink;
    margin-left: 20px;
    padding-left: 20px;
     background-color: #FAEFED;
}
.motive h2{
        font-weight: 700;
        font-style: italic;
        color: darkblue;
        font-size: 30px;

    }
    .motive h4{
        font-style: oblique;
        color: brown;
        font-size: 20px;
    }
    .motive h3{
        font-size: 30px;
        color: #282D40;
    }
    .motive p{
        font-style: italic;
        color: #282D40;
    }

footer{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #282D40;
     background-color: #FAEFED;
}
footer li{
    list-style: none;
    font-style: normal;
    margin-bottom: 10px;
    color: #4A495A;

}

